@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 214, 219, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  input[type=checkbox] {
    display: none;
  }
  .checkbox {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 5px 30px;
    position: relative;
    width: auto;
  }
  .checkbox::before {
    background: #fff;
    border: 1.5px solid #000;
    border-radius: 4px;
    content: '';
    display: block;
    height: 20px;
    width: 20px;
    left: 5px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
  }
  .checkbox::after {
    border-right: 6px solid #000;
    border-bottom: 3px solid #000;
    content: '';
    display: block;
    height: 20px;
    width: 9px;
    left: 10px;
    margin-top: -10px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: rotate(45deg) translate3d(0,2px,0) scale3d(0.7,0.7,1);
    transition: transform .2s ease-in-out, opacity .2s ease-in-out;
  }
  input[type=checkbox]:checked + .checkbox::before {
    border-color: #666;
  }
  input[type=checkbox]:checked + .checkbox::after {
    opacity: 1;
    transform: rotate(45deg) scale3d(1.5,1.5,1.5);
  }
}

@layer utilities {
  .skill-tablets {
    @apply flex flex-wrap items-center gap-2
  }
}

@layer base {
  section {
    @apply min-h-[400px] p-2 sm:p-6 scroll-mt-20
  }
}